header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: rgb(59, 89, 167);
    background-color: rgb(43, 2, 18);
    margin: 0;
    padding: 20px;
    text-align: center;
    border-radius: 8px; 
}

body {
    background-color: rgb(7, 10, 12);
    color: rgb(129, 149, 149);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carte {
    background-color: rgb(61, 14, 14);
    padding: 1px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

a {
    color: rgb(88,135,255);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.infos {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(129, 149, 149)
}

footer {
    background-color: rgb(43, 2, 18);
    text-align: center;
    padding: 10px;
    margin: 40px;
}